*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
h1{
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem ;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 3rem;
}

.choice img{
   max-width: 150px;
  
}
.choice:hover{
   cursor: pointer;
   /* opacity: 0.3; */
   background-color: #081b31;
   border-radius: 50%;

}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 1rem;
    gap: 5rem;
}
#user-score,
#comp-score{
    font-size: 4rem;
}
.msg-container{
    margin-top: 3rem;

}
#msg{
    font-size: 2rem;
    background-color: #081b31;
    color: #fff;
    display: inline;
    padding:  1rem;
    border-radius: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    
}
